@using MvcCv.Models.Entity
@model List<TblDeneyim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Deneyim Listesi</h2>
<br />
<table class="table table-bordered"> 
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Alt Başlık</th>
        <th>Tarih</th>
        <th style="width: 150px">Düzenle</th>
        <th style="width: 100px">Sil</th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Baslik</td>
                    <td>@item.AltBaslik</td>
                    <td>@item.Tarih</td>
                    <td><a href="/Deneyim/DeneyimGetir/@item.ID" class="btn btn-warning"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Düzenle</a></td>
                    <td><a href="/Deneyim/DeneyimSil/@item.ID" class="btn btn-danger"><i class="fas fa-trash"></i>&nbsp;&nbsp;Sil</a></td>
                </tr>
            }
</table>
<a href="/Deneyim/DeneyimEkle/" class="btn btn-primary">Yeni Deneyim Ekle</a>
