@using MvcCv.Models.Entity
@model List<TblSosyalMedya>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Sosyal Medya</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Durum</th>

        <th style="width: 150px">Düzenle</th>
        <th style="width: 100px">Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Ad</td>
            <td>@item.Durum</td>

            <td><a href="/SosyalMedya/SosyalMedyaGetir/@item.ID" class="btn btn-warning"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Düzenle</a></td>
            <td><a href="/SosyalMedya/SosyalMedyaPasif/@item.ID" class="btn btn-danger"><i class="fas fa-trash"></i>&nbsp;&nbsp;Pasif</a></td>
        </tr>
}
</table>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"> Yeni Sosyal Medya Hesabı Ekleme </h3>
            </div>
            <form  method="post" action="/SosyalMedya/SosyalMedyaEkle/">
                <div class="modal-body">
                    <label>Sosyal Medya Adı</label>
                    <input type="text" name="Ad" class="form-control" />
                    <br />
                    <label>Sosyal Medya Linki</label>
                    <input type="text" name="Link" class="form-control" />
                    <br />
                    <label>Sosyal Medya İkonu</label>
                    <input type="text" name="ikon" class="form-control" />
                    <br />
                    <button class="btn btn-info">Kaydet</button>
                </div>

            </form>
        </div>
    </div>
</div>
<p style="color:red"> **Pasif olan sosyal medya hesaplarını aktif yapmak için düzenleme işlemi yapmanız gerekmektedir.</p>
<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Yeni Sosyal Medya Hesabı Ekle</button>

