@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Hakkımda Menüsü</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <td>Ad</td>
        <td>Soyad</td>
        <td>Soyad</td>
    </tr>
</table>


